html
  head
    title Building a Simple CRUD Application with Express and MongoDB
  body
    h1 Building a Simple CRUD Application with Express and MongoDB
    ul
      each quote in quotes
        li.quote
          p= quote.name
          p= quote.quote

    button#update Darth Vadar invades!
    script(src="main.js")